In [1]:
pip install neattext

Requirement already satisfied: neattext in /Users/user/opt/anaconda3/lib/python3.8/site-packages (0.1.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import neattext.functions as nfx

In [3]:
dataset=pd.read_csv("./udemy_course_data.csv")
dataset.head()

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject,profit,published_date,published_time,year,month,day
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5 hours,2017-01-18T20:58:58Z,Business Finance,429400,2017-01-18,20:58:58Z,2017,1,18
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39 hours,2017-03-09T16:34:20Z,Business Finance,209400,2017-03-09,16:34:20Z,2017,3,9
2,1006314,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,True,45,2174,74,51,Intermediate Level,2.5 hours,2016-12-19T19:26:30Z,Business Finance,97830,2016-12-19,19:26:30Z,2016,12,19
3,1210588,Beginner to Pro - Financial Analysis in Excel ...,https://www.udemy.com/complete-excel-finance-c...,True,95,2451,11,36,All Levels,3 hours,2017-05-30T20:07:24Z,Business Finance,232845,2017-05-30,20:07:24Z,2017,5,30
4,1011058,How To Maximize Your Profits Trading Options,https://www.udemy.com/how-to-maximize-your-pro...,True,200,1276,45,26,Intermediate Level,2 hours,2016-12-13T14:57:18Z,Business Finance,255200,2016-12-13,14:57:18Z,2016,12,13

In [4]:
dataset["course_title"]=dataset["course_title"].apply(nfx.remove_shortwords)
dataset["course_title"]=dataset["course_title"].apply(nfx.remove_special_characters)

In [5]:
dataset["course_title"].head()

0                  Ultimate Investment Banking Course
1    Complete Course Certification Grow Your Practice
2    Financial Modeling Business Analysts Consultants
3              Beginner Financial Analysis Excel 2017
4               Maximize Your Profits Trading Options
Name: course_title, dtype: object

In [6]:
countVector=CountVectorizer()
cv_mat=countVector.fit_transform(dataset["course_title"])

In [7]:
vector_df=pd.DataFrame(cv_mat.todense(),columns=countVector.get_feature_names())

In [8]:
vector_df

,00005,10kawaii,10th,1105,123d,1316,1403,16t19,1872,18t17,...,yours,yourself,youtube,zeichnen,zend,zero,zinsen,zoho,zombie,zuhause
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3678,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3679,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3680,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3681,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3682,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
cos_sim=cosine_similarity(vector_df)

In [10]:
cos_sim.shape

(3683, 3683)

In [11]:
# drop duplicates 
course_index = pd.Series(dataset.index,index = dataset['course_title']).drop_duplicates()
course_index

course_title
Ultimate Investment Banking Course                        0
Complete Course Certification Grow Your Practice          1
Financial Modeling Business Analysts Consultants          2
Beginner Financial Analysis Excel 2017                    3
Maximize Your Profits Trading Options                     4
                                                       ...
Learn jQuery from Scratch Master JavaScript library    3678
Design WordPress Website With Coding                   3679
Learn Build using Polymer                              3680
Animations Create Amazing Effects Your Website         3681
Using MODX Build Websites Beginner Guide               3682
Length: 3683, dtype: int64

In [12]:
index=course_index['Financial Modeling Business Analysts Consultants']
index

2

In [13]:
cos_values=list(enumerate(cos_sim[index]))
# cos_values=[value[1] for value in cos_values]

In [14]:
indexes=[]
for (index,value) in cos_values:
    if value>0.5:
        indexes.append(index)

In [15]:
dataset.iloc[indexes]

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject,profit,published_date,published_time,year,month,day
2,1006314,Financial Modeling Business Analysts Consultants,https://www.udemy.com/financial-modeling-for-b...,True,45,2174,74,51,Intermediate Level,2.5 hours,2016-12-19T19:26:30Z,Business Finance,97830,2016-12-19,19:26:30Z,2016,12,19
121,151668,Introduction Financial Modeling,https://www.udemy.com/financial-modeling-asimp...,False,0,29167,1463,8,Intermediate Level,1.5 hours,2014-05-27T16:22:16Z,Business Finance,0,2014-05-27,16:22:16Z,2014,5,27
142,920604,Intro Financial Modeling,https://www.udemy.com/intro-to-financial-model...,True,105,1077,110,55,Beginner Level,6 hours,2016-08-19T20:12:24Z,Business Finance,113085,2016-08-19,20:12:24Z,2016,8,19
808,1023650,Financial Modeling Professionals,https://www.udemy.com/financial-modeling-for-p...,True,200,226,12,29,Intermediate Level,4.5 hours,2016-12-05T16:33:34Z,Business Finance,45200,2016-12-05,16:33:34Z,2016,12,5
824,885342,Financial Modeling,https://www.udemy.com/financial-modeling-101/,False,0,1086,37,5,Beginner Level,37 mins,2016-12-19T23:43:54Z,Business Finance,0,2016-12-19,23:43:54Z,2016,12,19