<a href="https://colab.research.google.com/github/mrneerajnegi/Data-Science-Projects/blob/auto_ml/Flight%20Fare%20Prediction%20Using%20AutoSKLearn/Flight_Fare_Prediction_Using_Auto_SK_Learn_(Auto_ML)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [55]:
flight_train=pd.read_csv("./flight data.csv")
flight_test=pd.read_csv("./flight test.csv")

In [56]:
flight_train.head()

       Airline Date_of_Journey    Source  ... Total_Stops Additional_Info  Price
0       IndiGo      24/03/2019  Banglore  ...    non-stop         No info   3897
1    Air India       1/05/2019   Kolkata  ...     2 stops         No info   7662
2  Jet Airways       9/06/2019     Delhi  ...     2 stops         No info  13882
3       IndiGo      12/05/2019   Kolkata  ...      1 stop         No info   6218
4       IndiGo      01/03/2019  Banglore  ...      1 stop         No info  13302

[5 rows x 11 columns]

In [57]:
flight_test.head()

             Airline Date_of_Journey  ... Total_Stops              Additional_Info
0        Jet Airways       6/06/2019  ...      1 stop                      No info
1             IndiGo      12/05/2019  ...      1 stop                      No info
2        Jet Airways      21/05/2019  ...      1 stop  In-flight meal not included
3  Multiple carriers      21/05/2019  ...      1 stop                      No info
4           Air Asia      24/06/2019  ...    non-stop                      No info

[5 rows x 10 columns]

In [58]:
flight_train=flight_train.dropna()

In [59]:
flight_train.select_dtypes(exclude=[None]).columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

In [60]:
print(flight_train.shape,flight_test.shape)

(10682, 11) (2671, 10)

In [61]:
df=flight_train.append(flight_test)

In [62]:
df.shape

(13353, 11)

In [63]:
df.isnull().sum()

Airline               0
Date_of_Journey       0
Source                0
Destination           0
Route                 0
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           0
Additional_Info       0
Price              2671
dtype: int64

In [64]:
df=flight_train.append(flight_test)

In [65]:
df["Airline"].value_counts()

Jet Airways                          4746
IndiGo                               2564
Air India                            2191
Multiple carriers                    1543
SpiceJet                             1026
Vistara                               608
Air Asia                              405
GoAir                                 240
Multiple carriers Premium economy      16
Jet Airways Business                    8
Vistara Premium economy                 5
Trujet                                  1
Name: Airline, dtype: int64

In [66]:
def labelEncoder(columnName):
  labelEncoder=LabelEncoder()
  newData=labelEncoder.fit_transform(df[columnName])
  return newData

In [67]:
df["Airline"]=labelEncoder("Airline")
df["Source"]=labelEncoder("Source")
df["Destination"]=labelEncoder("Destination")

In [70]:
df["Date_of_Journey"]=pd.to_datetime(df["Date_of_Journey"])

In [72]:
df["journey_date"]=df["Date_of_Journey"].apply()

AttributeError: ignored