<a href="https://colab.research.google.com/github/mrneerajnegi/Data-Science-Projects/blob/auto_ml/Heart%20Attack%20Risk/Heart_Attack_Risk_Prediction_Using_Eval_ML_(Auto_ML).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install evalml

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sbn
import evalml
from evalml.automl import AutoMLSearch

In [3]:
df=pd.read_csv("./heart.csv")
df.head()

   age  sex  cp  trtbps  chol  fbs  ...  exng  oldpeak  slp  caa  thall  output
0   63    1   3     145   233    1  ...     0      2.3    0    0      1       1
1   37    1   2     130   250    0  ...     0      3.5    0    0      2       1
2   41    0   1     130   204    0  ...     0      1.4    2    0      2       1
3   56    1   1     120   236    0  ...     0      0.8    2    0      2       1
4   57    0   0     120   354    0  ...     1      0.6    2    0      2       1

[5 rows x 14 columns]

In [4]:
def applySexvalue(value):
    return "Male" if value==1 else "Female";
df["sex_"]=df["sex"].apply(applySexvalue)

In [5]:
df.head()

   age  sex  cp  trtbps  chol  fbs  ...  oldpeak  slp  caa  thall  output    sex_
0   63    1   3     145   233    1  ...      2.3    0    0      1       1    Male
1   37    1   2     130   250    0  ...      3.5    0    0      2       1    Male
2   41    0   1     130   204    0  ...      1.4    2    0      2       1  Female
3   56    1   1     120   236    0  ...      0.8    2    0      2       1    Male
4   57    0   0     120   354    0  ...      0.6    2    0      2       1  Female

[5 rows x 15 columns]

In [6]:
X=df.drop("output",axis=1)
Y=df["output"]

In [7]:
Xtrain,Xtest,Ytrain,Ytest=evalml.preprocessing.split_data(X,Y,problem_type="binary")

In [8]:
model=AutoMLSearch(Xtrain,Ytrain,problem_type="binary")
model.search()

	High coefficient of variation (cv >= 0.5) within cross validation scores.
	Decision Tree Classifier w/ Label Encoder + Imputer + One Hot Encoder may not perform as estimated on unseen data.

In [9]:
model.rankings

   id  ...                                         parameters
0   8  ...  {'Label Encoder': {'positive_label': None}, 'I...
1   6  ...  {'Label Encoder': {'positive_label': None}, 'I...
2   1  ...  {'Label Encoder': {'positive_label': None}, 'I...
3   2  ...  {'Label Encoder': {'positive_label': None}, 'I...
4   4  ...  {'Label Encoder': {'positive_label': None}, 'I...
5   3  ...  {'Label Encoder': {'positive_label': None}, 'I...
6   5  ...  {'Label Encoder': {'positive_label': None}, 'I...
7   7  ...  {'Label Encoder': {'positive_label': None}, 'I...
8   0  ...  {'Label Encoder': {'positive_label': None}, 'B...

[9 rows x 9 columns]

In [17]:
model.describe_pipeline(model.rankings.iloc[0]["id"])

***********************************************************************
* Extra Trees Classifier w/ Label Encoder + Imputer + One Hot Encoder *
***********************************************************************

Problem Type: binary
Model Family: Extra Trees

Pipeline Steps
==============
1. Label Encoder
	 * positive_label : None
2. Imputer
	 * categorical_impute_strategy : most_frequent
	 * numeric_impute_strategy : mean
	 * categorical_fill_value : None
	 * numeric_fill_value : None
3. One Hot Encoder
	 * top_n : 10
	 * features_to_encode : None
	 * categories : None
	 * drop : if_binary
	 * handle_unknown : ignore
	 * handle_missing : error
4. Extra Trees Classifier
	 * n_estimators : 100
	 * max_features : auto
	 * max_depth : 6
	 * min_samples_split : 2
	 * min_weight_fraction_leaf : 0.0
	 * n_jobs : -1

Training
========
Training for binary problems.
Total training time (including CV): 2.5 seconds

Cross Validation
----------------
             Log Loss Binary  MCC Binary  Gini   AUC  Precision    F1  Balanced Accuracy Binary  Accuracy Binary # Training # Validation
0                      0.402       0.677 0.849 0.924      0.816 0.827                     0.839            0.840        161           81
1                      0.388       0.613 0.822 0.911      0.889 0.750                     0.790            0.802        161           81
2                      0.476       0.519 0.699 0.850      0.743 0.732                     0.759            0.762        162           80
mean                   0.422       0.603 0.790 0.895      0.816 0.770                     0.796            0.801          -            -
std                    0.048       0.080 0.080 0.040      0.073 0.050                     0.041            0.039          -            -
coef of var            0.113       0.132 0.101 0.044      0.089 0.065                     0.051            0.048          -            -

In [20]:
best_pipeline=model.best_pipeline

In [27]:
best_pipeline.score(Xtest,Ytest,objectives=["f1","auc"])

OrderedDict([('F1', 0.8611111111111112), ('AUC', 0.9307359307359306)])

In [28]:
#to save the model
best_pipeline.save("model.pkl")